<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
  <%= js_include_tag "jquery", "wycats.jquery", "async.jquery", "fn.jquery", "atmedia", "application" %>
  <%= css_include_tag "application" %>
  <style type="text/css">
  </style>
</head>
<body>
  <h1>Simple Autocompleter</h1>
  <input class="autocomplete" type="text" autocomplete="off" />
</body>
</html>
